@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #f6f7fb;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}
.progress-container::before{
    content: '';
    position: absolute;
    background-color: #e0e0e0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress{
    position: absolute;
    background-color: #3498db;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: all 1s ease;
}

.circle{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 3px solid #e0e0e0;
    transition: all 1s ease;
}
.circle.active{
    border-color: #3498db;
    transition: all 1s ease .5s;
}

.btn{
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}


